@{
	Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
	ViewBag.Title = "LOK";
}
@section CSS{
	<link href="~/Content/css/index.css" rel="stylesheet" />
}

<div class="header text-center">
	<img src="~/Content/image/logo1.png" height="100">
	<h1>校园速递</h1>
	<!-- <p>The Last One Kilometer</p> -->
</div>


@section Footer{
	
	<div class="container">
		<div class="btn-main-container text-center">
			<a class="btn btn-main btn-flat" href="/Business/Region">立即下单</a>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="well well-index-intro well-index-intro-1">
					<div class="row">
						<div class="col-md-3">
							<div class="intro-icon"></div>
						</div>
						<div class="col-md-9">
							<p class="lead">项目介绍1</p>
							<p>
								文字文字，文字文字文字<br>
								文字文字，文字文字文字
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well well-index-intro well-index-intro-2">
					<div class="row">
						<div class="col-md-3">
							<div class="intro-icon"></div>
						</div>
						<div class="col-md-9">
							<p class="lead">项目介绍2</p>
							<p>文字文字，文字文字文字文字文字，文字文字文字</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well well-index-intro well-index-intro-3">
					<div class="row">
						<div class="col-md-3">
							<div class="intro-icon"></div>
						</div>
						<div class="col-md-9">
							<p class="lead">项目介绍3</p>
							<p>文字文字，文字文字文字文字文字，文字文字文字</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}