@{
	Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
	ViewBag.Title = "LOK";
}
@section CSS{
	<link href="~/Content/css/index.css" rel="stylesheet" />
}

<div class="container">
	<div class="header">
		<div class="logo-container text-center">
			<img src="~/Content/image/logo.png" height="100" alt="">
			<h1>The Last One Kilometer</h1>
		</div>
	</div>
</div>


@section Footer{
	<div class="footer">
		<div class="container">
			<div class="btn-main-container text-center">
				<a class="btn btn-flat" href="/Business">立即下单</a>
				<a class="btn btn-flat" href="javascript:;">了解更多</a>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="well well-step well-step-1">
						<div class="row">
							<div class="col-md-3">
								<div class="step-icon-1"></div>
							</div>
							<div class="col-md-9">
								<h3>介绍项目1</h3>
								<p>
									文字文字，文字文字文字<br>
									文字文字，文字文字文字
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="well well-step well-step-2">
						<div class="row">
							<div class="col-md-3">
								<div class="step-icon-2"></div>
							</div>
							<div class="col-md-9">
								<h3>介绍项目2</h3>
								<p>文字文字，文字文字文字文字文字，文字文字文字</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="well well-step well-step-3">
						<div class="row">
							<div class="col-md-3">
								<div class="step-icon-3"></div>
							</div>
							<div class="col-md-9">
								<h3>介绍项目3</h3>
								<p>文字文字，文字文字文字文字文字，文字文字文字</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}