<!DOCTYPE html>
<html lang="zh_cn">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="UTF-8">
	<title>LOK</title>
	<link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/Content/css/bootstrap/ripples.css" rel="stylesheet" />
	<link href="~/Content/css/animate.min.css" rel="stylesheet">
	<link href="~/Content/css/global.css" rel="stylesheet" />
	<link href="~/Content/css/index.css" rel="stylesheet" />

	<script src="~/Scripts/jquery/jquery.min.js"></script>
	<script src="~/Scripts/jquery/bootstrap.min.js"></script>
	<script src="~/Scripts/ripples.min.js"></script>
	<script src="~/Scripts/nav.js"></script>
</head>
<body>
	<div class="wrapper">
		

		<nav class="navbar navbar-material" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand btn-ripples" href="javascript:;">LOK</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="javascript:;" class="btn-ripples">商户合作</a></li>
						<li><a href="javascript:;" class="btn-ripples">联系我们</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		

		<div class="container">
			<div class="header">
				<div class="logo-container text-center">
					<img src="~/Content/image/logo.png" height="100" alt="">
					<h1>The Last One Kilometer</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="btn-main-container text-center">
				<a class="btn btn-flat" href="/Home/Business">立即下单</a>
				<a class="btn btn-flat" href="/Home/Business">了解更多</a>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="well well-step well-step-1">
						<div class="row">
							<div class="col-md-3">
								<div class="step-icon-1"></div>
							</div>
							<div class="col-md-9">
								<h3>Step 1</h3>
								<p>选择您所在的校区</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="well well-step well-step-2">
						<div class="row">
							<div class="col-md-3">
								<div class="step-icon-2"></div>
							</div>
							<div class="col-md-9">
								<h3>Step 2</h3>
								<p>选择寄件或取件</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="well well-step well-step-3">
						<div class="row">
							<div class="col-md-3">
								<div class="step-icon-3"></div>
							</div>
							<div class="col-md-9">
								<h3>Step 3</h3>
								<p>填写您的个人信息</p>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
		
	</div>
</body>
</html>