
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
	<form action="/Business/OrderGetting" method="post">
		<input type="number" name="ExpressCompany" value="0" />
		<input type="text" name="ExpressNo" value="123456789" />
		<input type="text" name="Name" value="张朕煜" />
		<input type="number" name="Phone" value="13917601178" />
		<input type="text" name="Address" value="上海大学" />
		<input type="text" name="Remark" value="备注" />
		<input type="submit" value="Submit" />
	</form>
</body>
</html>
