
@{
    ViewBag.Title = "重置密码";
    Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}

@section Javascript{
	<script>
		$('#form-reset-password').submit(function () {
			var $form = $(this);
			event.preventDefault();
			$.post($form.attr('action'), $form.serialize(), function (data, textStatus, xhr) {
				// 提交的表单是否合法
				if (data.IsSucceed == true) {
					window.location = '/Account';
				} else {
					$('#' + data.ErrorPosition.toLowerCase()).inputError(data.ErrorMessage);
					toastr.error('重置失败');
				}
			});
		})
	</script>
}


<div class="container">
	<div class="well well-blank">
		<form action="/Account/ResetPassword" method="POST" id="form-reset-password">
			<input type="hidden" name="UserId" value="@ViewBag.userId" />
			<input type="hidden" name="Code" value="@ViewBag.code" />
			<div class="form-group">
				<label class="control-label" for="newpassword">新密码</label>
				<input type="password" class="form-control" id="newpassword" name="NewPassword" placeholder="">
			</div>
			<div class="form-group">
				<label class="control-label" for="newpasswordrepeat">重复新密码</label>
				<input type="password" class="form-control" id="newpasswordrepeat" name="NewPasswordRepeat" placeholder="">
			</div>
			<button type="submit" class="btn btn-primary btn-material">保存</button>
		</form>
	</div>
	
</div>