@model OrderStatusEnum

@switch(Model) {
	case OrderStatusEnum.Completed:
	case OrderStatusEnum.Closed:
		<div class="progress-bar progress-bar-success progress-bar-striped active" style="width: 100%">完成</div>
		break;
	case OrderStatusEnum.Failed:
		<div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: 100%">失败</div>
		break;
	case OrderStatusEnum.OnGoing:
		<div class="progress-bar progress-bar-success progress-bar-striped active" style="width: 66.6666%">正在上门</div>
		<div class="progress-bar progress-bar-ready" style="width: 33.3333%">完成</div>
		break;
	case OrderStatusEnum.Confirming:
		<div class="progress-bar progress-bar-success progress-bar-striped active" style="width: 33.3333%">正在确认订单</div>
		<div class="progress-bar progress-bar-ready" style="width: 33.3333%">上门</div>
		<div class="progress-bar progress-bar-ready" style="width: 33.3333%">完成</div>
		break;
	default:
		break;
}