@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.AspNet.Identity;
@using Microsoft.Owin.Security;

@{
	string userId = User.Identity.GetUserId();
	var UserManager = Context.GetOwinContext().GetUserManager<ApplicationUserManager>();
	ApplicationUser user = UserManager.FindById(userId);

	bool isGuest = user == null || UserManager.IsInRole(userId, "Guest");
}

<ul>
	<li class="text-right visible-xs-block"><a class="menu-close"><i class="fa fa-times"></i></a><span></span></li>
	<li><a href="/Home/Index" class="title">LOK</a></li>
	<li><a href="/Business/Index" class="btn-ripples">立即下单</a></li>
</ul>
<ul>
	<li><a href="/Home/About">商户合作</a></li>
	<li><a href="/Home/About">联系我们</a></li>
</ul>
<ul>
	@if(!isGuest) {
		<li><a href="/Business/Order">@user.NickName</a></li>
		if(UserManager.IsInRole(userId,"Admin")) {
			<li><a href="/Admin/Index" class="btn-ripples">管理中心</a></li>
			<li><a href="/Admin/UsersControl" class="btn-ripples">用户中心</a></li>
			<li><a href="/Admin/Config" class="btn-ripples">设置中心</a></li>
		}
		if(UserManager.IsInRole(userId, "SuperAdmin")) {
			<li><a href="/Admin/SuperAdminControl" class="btn-ripples">超级管理员</a></li>
		}
		<li><a href="/Account/SignOut">注销</a></li>
	}
	else {
		<li><a href="/Account/Index" class="btn-ripples">登录 / 注册</a></li>
	}
</ul>
