.wrapper{
	padding-bottom: 40px;
	min-height: 100%;
}

.well.well-with-heading{
	padding: 0;
}
.well.well-with-heading .well-heading{
	padding: 75px 19px 5px 19px;
	border-radius: 2px 2px 0 0;
	font-size: 30px;
}

.well.well-with-heading .well-content{
	position: relative;
	padding: 19px;
}
.well.well-with-heading .well-footer{
	border-radius: 0 0 2px 2px;
	overflow: hidden;
}
.well.well-with-heading .well-footer a{
	display: block;
	padding: 10px 19px;
	color: #000;
	font-size: 16px;
	background-color: #fff;
	transition: background-color 0.2s;
}
.well.well-with-heading .well-footer a:hover{
	text-decoration: none;
	background-color: #ccc;
}
.well.well-with-heading .well-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.85);
	z-index: 10;
	transition: background-color 0.2s;
}
.well.well-with-heading .well-wrapper div{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
}
.well.well-with-heading .well-wrapper:hover{
	background-color: rgba(0,0,0,0.75);
}

.well.well-step1,
.well.well-step2,
.well.well-step3{
	position: relative;
}
.well.well-step1 #map{
	width: 100%;
	min-height: 500px;
}
.well.well-step1 .well-map-search{
	position: absolute;
	margin-bottom: 0;
	width: 400px;
	top: 30px;
	left: 30px;
	z-index: 10;
}
.well.well-step1 .well-map-search ul.list-group{
	margin-bottom: 0;
}

.well.well-step2 .well-heading{
	background-position: bottom center;
	background-size: auto 200px;
	color: #fff;
}
.well.well-step2.well-send .well-heading{
	background-color: #FF9800;
}
.well.well-step2.well-get .well-heading{
	background-color: #3AA2B4;
}


.steps{
	margin-top: -40px;
}
.steps ul{
	margin: 0 auto;
	padding: 0;
	width: 900px;
	list-style: none;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
}
.steps ul li{
	float: left;
	width: 33.3333%;
}
.steps ul li a {
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: rgba(255,255,255,0.5);
	transition: all 0.2s
}
.steps ul li a:hover,
.steps ul li a:focus,
.steps ul li a:active {
	color: #fff;
	text-decoration: none;
}
.steps ul li a.active {
	color: #fff;
	background-size: 40px 40px;
	background-image: linear-gradient(45deg,rgba(0,0,0,.15) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.15) 50%,rgba(0,0,0,.15) 75%,transparent 75%,transparent);
	-webkit-animation: progress-bar-stripes 2s linear infinite;
}

.steps ul li:nth-child(1) a.active{
	background-color: #D62425;
}
.steps ul li:nth-child(2) a.active{
	background-color: #3B4EA0;
}
.steps ul li:nth-child(3) a.active{
	background-color: #2D9439;
}
.steps ul li:nth-child(1) a{
	background-color: #941819;
}
.steps ul li:nth-child(2) a{
	background-color: #263367;
}
.steps ul li:nth-child(3) a{
	background-color: #1B5822;
}
.steps ul li:nth-child(1) a:hover{
	background-color: #D62425;
}
.steps ul li:nth-child(2) a:hover{
	background-color: #3B4EA0;
}
.steps ul li:nth-child(3) a:hover{
	background-color: #2D9439;
}

.load-container{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.9);
	z-index: 100;
}
.load-container .loader {
	position: fixed;
	margin: -10px;
	top: 50%;
	left: 50%;
	font-size: 20px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	-webkit-animation: load 1.3s infinite linear;
	animation: load 1.3s infinite linear;
}

@media screen and (max-width: 992px) {
	#map{
		display: none;
	}
	.well.well-step1 .well-map-search{
		position: static;
		width: auto;
	}
	.steps ul{
		width: auto;
		margin: 0 10px;
	}
	.well-step2 .btn-form-group .btn{
		margin-bottom: 12px;
	}
	.well-step2 .btn-form-group div:last-child .btn{
		margin-bottom: 0;
	}
}



@-webkit-keyframes load {
	0%,
	100% {
		box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
	}
	12.5% {
		box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	25% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	37.5% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	50% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	62.5% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	75% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
	}
	87.5% {
		box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
	}
}
@keyframes load {
	0%,
	100% {
		box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
	}
	12.5% {
		box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	25% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	37.5% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	50% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	62.5% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	75% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
	}
	87.5% {
		box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
	}