body,
html {
	width: 100%;
	height: 100%;
	font-family: "Microsoft Yahei";
	background-color: #000;
	background-image: url(../image/background.jpg);
	background-repeat: no-repeat;
}
.wrapper{
	min-height: 100%;
}
.modal-dialog{
	background-color: #FAFAFA;
	border: none;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
	border-radius: 2px;
}
.modal-content{
	border:none;
	box-shadow: none;
	background-color: #FAFAFA;
}
.well {
	margin-bottom: 9px;
	border: none;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
	border-radius: 2px;
}
.well-blank {
	background-color: #FAFAFA;
}
.well-sm .row{
	margin-left: -4.5px;
	margin-right: -4.5px;
}
.well.well-no-padding{
	padding: 0;
}

.well.well-no-padding .well-heading{
	padding: 9px 19px;
	border-radius: 2px 2px 0 0;
	font-size: 30px;
}

.well.well-no-padding .well-content{
	position: relative;
	padding: 9px 19px;
}
.well.well-no-padding .well-footer{
	border-radius: 0 0 2px 2px;
	overflow: hidden;
}
.well.well-no-padding .well-footer a{
	display: block;
	padding: 10px 19px;
	color: #000;
	font-size: 16px;
	background-color: #fff;
	transition: background-color 0.2s;
}
.well.well-no-padding .well-footer a:hover{
	text-decoration: none;
	background-color: #ccc;
}
.well.well-no-padding .well-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.85);
	z-index: 10;
	transition: background-color 0.2s;
}
.well.well-no-padding .well-wrapper>.btn{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
}
.well.well-no-padding .well-wrapper:hover{
	background-color: rgba(0,0,0,0.75);
}
.well.well-no-padding .well-wrapper.disabled{
	background-color: rgba(0,0,0,0.95);
}
.list-group *:first-child{
	border-radius: 2px 2px 0 0;
}
.list-group *:last-child{
	border-radius: 0 0 2px 2px;
}
.progress-bar{
	webkit-transition: none;
			transition: none;
}
.progress-bar.progress-bar-ready{
	background-color: transparent;
	color: #000;
}
.container {
	position: relative;
}

.no-margin-bottom{
	margin-bottom: 0;
}
.dropdown-menu{
	width: 100%;
	min-width: 0;
}
.btn{
	border-radius: 2px;
	border:none;
	transition: background-color 0.2s;
}
.btn.btn-default{
	background-color: #FAFAFA;
}
.btn.btn-material{
	border-radius: 2px;
	border:none;
	transition: box-shadow 0.2s, background-color 0.2s;
}
.btn.btn-material:hover{
	border-radius: 2px;
	border:none;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.btn-flat{
	display: inline-block;
	padding: 10px 30px;
	border: 2px solid #fff;
	border-radius: 0;
	background-color: transparent;
	color: #fff !important;
	transition: background-color 0.2s;
}
.btn-flat:hover{
	background-color: rgba(225,225,225, 0.15);
}
.form-control{
	padding: 0;
	float: none;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	background: transparent;
	border-bottom: 1px solid #757575;
	transition: border-color 0.2s,box-shadow 0.2s;
}
.form-control:focus,
.form-control.focus{
	border-color: #1F99FA;
	box-shadow: 0px 1px 0px #1F99FA;
}
.has-error .form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.has-error .form-control:focus {
	-webkit-box-shadow: 0px 1px 0px #a94442;
	box-shadow: 0px 1px 0px #a94442;
}
.popover{
	max-width: none;
	border-radius:2px;
	border:none;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
}
.popover .popover-content{
	padding: 0 9px;
}

.navbar-material {
	background-color: rgba(48,63,159,0.75);
	border-radius: 0;
	border: none;
}
.navbar-material .navbar-brand,
.navbar-material .navbar-nav > li > a {
	color: #fff;
	transition: background-color 0.2s;
}
.navbar-material .navbar-brand:hover,
.navbar-material .navbar-brand:focus,
.navbar-material .navbar-nav > li > a:hover,
.navbar-material .navbar-nav > li > a:focus {
	color: #fff;
	background-color: rgba(0,0,0,0.15);
}
.navbar-material .navbar-nav > .active > a,
.navbar-material .navbar-nav > .active > a:hover,
.navbar-material .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: rgba(0,0,0,0.25);
}
.navbar-material .navbar-nav > .disabled > a,
.navbar-material .navbar-nav > .disabled > a:hover,
.navbar-material .navbar-nav > .disabled > a:focus {
	color: #444;
	background-color: transparent;
}
.navbar-material .navbar-toggle {
	border: none;
}
.navbar-material .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-material .navbar-collapse,
.navbar-material .navbar-form {
	border-color: #333;
}
.navbar-material .navbar-nav > .open > a,
.navbar-material .navbar-nav > .open > a:hover,
.navbar-material .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #080808;
}
.list-group .list-group-item {
	padding-top: 15px;
}
.list-group .list-group-item .row-action {
	display: block;
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
}
.list-group .list-group-item .row-action span {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.35);
	border-radius: 20px;
}
.list-group .list-group-item.disabled .row-action span {
	background-color: #D4D4D4;
}
.list-group .list-group-item .row-content {
	display: inline-block;
}
#myorder-list-group{
	width: 400px;
}
#myorder-list-group .list-group-item{
	border-right: none;
	border-left: none;
}
#myorder-list-group .list-group-item:first-child{
	border-top: none;
}
#myorder-list-group .list-group-item:last-child{
	border-bottom: none;
}



@media screen and (max-width: 768px) {
	html,
	body{
		background-image: none;
	}
	.list-group .list-group-item .row-action {
		float: none;
		text-align: center;
	}
}