html{
	height: 100%;
}
body{
	position: relative;
	min-height: 100%;
	font-family: "Microsoft Yahei";
	background-color: #EEEDEF;
	/*background-image: url(../image/background.jpg);*/
	background-repeat: no-repeat;
}

.pos-relative{
	position:relative;
}

.modal-dialog{
	background-color: #FAFAFA;
	border: none;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
	border-radius: 2px;
}
.modal-content{
	border:none;
	box-shadow: none;
	background-color: #FAFAFA;
}
.well {
	margin-bottom: 9px;
	border: none;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
	border-radius: 2px;
}
.well-blank {
	background-color: #FAFAFA;
}
.well.well-no-padding{
	padding: 0;
}

.well.well-no-padding .well-heading{
	padding: 9px 19px;
	border-radius: 2px 2px 0 0;
}
.well.well-no-padding .well-heading .lead{
	line-height: 32px;
}
.well.well-no-padding .well-heading .lead small{
	line-height: 0;
}

.well.well-no-padding .well-content{
	position: relative;
	padding: 19px 19px;
}
.well.well-no-padding .well-footer{
	border-radius: 0 0 2px 2px;
	overflow: hidden;
}
.well.well-no-padding .well-footer a{
	display: block;
	padding: 10px 19px;
	color: #000;
	font-size: 16px;
	background-color: #fff;
	transition: background-color 0.2s;
}
.well.well-no-padding .well-footer a:hover{
	text-decoration: none;
	background-color: #ccc;
}
.well.well-no-padding a.well-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.85);
	color: #fff;
	z-index: 10;
	transition: background-color 0.2s;
}
.well.well-no-padding a.well-wrapper>span{
	position: absolute;
	padding: 10px 0;
	width: 100%;
	top: 50%;
	-webkit-transform: translate(0,-50%);
			-moz-transform: translate(0,-50%);
			transform: translate(0,-50%);
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
.well.well-no-padding a.well-wrapper:hover{
	background-color: rgba(0,0,0,0.75);
}
.well.well-no-padding a.well-wrapper.disabled{
	background-color: rgba(0,0,0,0.95);
}

.panel{
	margin-bottom: 9px;
	border: none;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
	border-radius: 2px;
}
.panel.panel-default {
	background-color: #FAFAFA;
}

.list-group .list-group-item .row-action {
	display: block;
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
}
.list-group .list-group-item .row-action span {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.35);
	border-radius: 20px;
}
.list-group .list-group-item.disabled .row-action span {
	background-color: #D4D4D4;
}
.list-group .list-group-item .row-content {
	display: inline-block;
}
.list-group *:first-child{
	border-radius: 2px 2px 0 0;
}
.list-group *:last-child{
	border-radius: 0 0 2px 2px;
}

.progress{
	border-radius: 2px;
	box-shadow: none;
}
.progress-bar{
	box-shadow: none;
	transition: none;
}
.progress-bar.progress-bar-warning{
	background-color: #E99F4C;
}
.progress-bar.progress-bar-ready{
	background-color: transparent;
	color: #000;
}
.container {
	position: relative;
}

.no-margin-bottom{
	margin-bottom: 0 !important;
}

.lead small{
	margin-left: 10px;
	font-size: 14px;
}
.btn{
	border-radius: 2px;
	border:none;
	transition: background-color 0.2s;
}
.btn.btn-default{
	background-color: #EDEDED;
}
.btn.btn-transparent{
	background-color: transparent;
}
.btn.btn-transparent:hover{
	background-color: rgba(0,0,0,0.05);
}
.btn.btn-getting{
	color: #fff;
	background-color: #428CCA;
}
.btn.btn-sending{
	color: #fff;
	background-color: #DE485B;
}
.btn.btn-material{
	border-radius: 2px;
	border:none;
	transition: box-shadow 0.2s, background-color 0.2s;
}
.btn.btn-material:hover{
	border-radius: 2px;
	border:none;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.btn-flat{
	display: inline-block;
	padding: 10px 30px;
	border: 2px solid #333;
	border-radius: 0;
	background-color: transparent;
	color: #333 !important;
	transition: background-color 0.2s;
}
.btn-flat:hover{
	background-color: rgba(0,0,0, 0.05);
}

.dropdown-menu{
	background-color:#FAFAFA;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
}

.form-control{
	padding: 0;
	float: none;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	background: transparent;
	border-bottom: 1px solid #757575;
	transition: border-color 0.2s,box-shadow 0.2s;
}
.form-control:focus,
.form-control.focus{
	border-color: #1F99FA;
	box-shadow: 0px 1px 0px #1F99FA;
}
.has-error .form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.has-error .form-control:focus {
	-webkit-box-shadow: 0px 1px 0px #a94442;
	box-shadow: 0px 1px 0px #a94442;
}
.popover{
	max-width: none;
	border-radius:2px;
	border:none;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
}

.navbar-material {
	margin-bottom: 0;
	border-radius: 0;
	border: none;
}
.navbar-material .navbar-brand,
.navbar-material .navbar-nav > li > a {
	color: #333;
	transition: background-color 0.2s;
}
.navbar-material .navbar-nav > li > a:hover,
.navbar-material .navbar-nav > li > a:focus {
	color: #333;
	background-color: rgba(0,0,0,0.05);
}
.navbar-material .navbar-toggle {
	margin-left: 8px;
	border: none;
}
.navbar-material .navbar-nav > .open > a,
.navbar-material .navbar-nav > .open > a:hover,
.navbar-material .navbar-nav > .open > a:focus {
	color: #333;
	background-color: rgba(0,0,0,0.05);
}

.menu-toggle{
	position: relative;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
}
.menu-toggle .icon-bar{
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #333;
}
.menu-toggle .icon-bar+.icon-bar {
	margin-top: 4px;
}

.menu-container{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	z-index:20;
}
.menu{
	width: 250px;
	height: 100%;
	overflow: auto;
	background-color: #4884A7;
}

.menu ul{
	list-style: none;
	padding-left: 0;
	margin-bottom: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
}
.menu ul>li>a{
	display: inline-block;
	width: 100%;
	padding: 1em 1em 1em 1.2em;
	border-bottom: 1px solid #2A4E63;
	color: #f3efe0;
	text-decoration: none;
	transition: background-color 0.2s;
}
.menu ul>li:last-child>a{
	border-bottom: none;
}
.menu ul>li>a:hover{
	background-color: #2A4E63;
}
.menu ul>li>a.menu-close{
	text-align: right;
}
.menu ul>li>a.title{
	line-height: 30px;
	font-size: 24px;
	text-align: center;
}


.nav-material li{
	float: left;
}
.nav-material li>a{
	display: inline-block;
	padding: 15px 30px;
	border-bottom: 2px solid transparent;
	color: #333;
	transition: border-bottom-color 0.2s;
}
.nav-material li>a:hover,
.nav-material li.active>a{
	color: #428BCA;
	border-bottom-color: #428BCA;
	background-color: transparent;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	text-align: center;
	vertical-align: middle;
}

#myorder-list-group{
	width: 400px;
}
#myorder-list-group .list-group-item{
	border-right: none;
	border-left: none;
}
#myorder-list-group .list-group-item:first-child{
	border-top: none;
}
#myorder-list-group .list-group-item:last-child{
	border-bottom: none;
}

.footer-container{
	padding-bottom: 100px;
}
.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.copy-right{
	padding-top: 20px;
	padding-bottom: 18px;
	background-color: #333;
}
.copy-right p{
	margin-bottom: 3px;
	color: #eee;
}
.copy-right p:last-child{
	margin-bottom: 0px;
}


@media screen and (max-width: 768px) {
	html,
	body{
		background-image: none;
	}
	
	.navbar-toggle {
		float: left;
	}
	.navbar-brand{
		float: right;
	}
	
	.list-group .list-group-item .row-action {
		float: none;
		text-align: center;
	}
	.menu{
		width: 100%;
	}
	.footer-container{
		padding-bottom: 0 !important;
	}
	.footer{
		position: static;
	}
}
@media (min-width: 992px){
	.modal-lg {
		width: 80%;
	}

}
