.navbar-material {
	margin-bottom: 0;
}

.header {
	position: relative;
	background-color: #66A6FF;
	background-image: url('../image/header-background.png');
	background-repeat: repeat-x;
	background-position: bottom;
	padding-top: 50px;
	padding-bottom:100px;
	color: #fff !important;
}
.header img{
	/*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);*/
}
.header  h1 {
	font-family: Helvetica;
	font-size: 80px;
	font-weight: thin;
	text-shadow: 0 3px 10px rgba(0, 0, 0, .23);
}
.btn-main-container {
	margin-bottom: 30px;
}
.btn-main-container .btn-flat {
	padding: 10px 50px;
	margin:5px 20px;
}
.well-step {
	color: #fff !important;
}
.well-step h3 {
	margin-top: 0;
}
.well-step .btn {
	color: #fff !important;
}
.well.well-step-1 {
	background-color: #D62425;
}
.well.well-step-2 {
	background-color: #3B4EA0;
}
.well.well-step-3 {
	background-color: #2D9439;
}
.step-icon-1,
.step-icon-2,
.step-icon-3{
	display: inline-block;
	height: 60px;
	width: 60px;
	background-image: url(../image/icons.png);
	background-repeat: no-repeat;
}
.step-icon-1 {
	background-size: 58px auto;
}
.step-icon-2 {
	background-position: 0 -65px;
	background-size: 58px auto;
}
.step-icon-3 {
	background-position: 0 -185px;
	background-size: 58px auto;
}

.footer-container{
	padding-bottom: 275px;
}

@media screen and (max-width: 992px) {
	.navbar-material .navbar-nav > .open > .dropdown-menu a,
	.navbar-material .navbar-nav > .open > .dropdown-menu a:hover,
	.navbar-material .navbar-nav > .open > .dropdown-menu a:focus {
		color: #fff;
	}
	.header h1{
		font-size: 50px;
	}
	.footer-container{
		padding-bottom: 340px;
	}
	.well-step{
		text-align: center;
	}
}
@media screen and (max-width: 768px) {
	.footer-container{
		padding-bottom: 700px;
	}
}