.navbar-material {
	z-index: 10;
	background-color: #66A6FF;
}
.navbar-material .navbar-brand,
.navbar-material .navbar-nav > li > a {
	color: #fff;
}
.navbar-material .navbar-nav > li > a:hover,
.navbar-material .navbar-nav > li > a:focus {
	color: #fff;
}
.navbar-material .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-material .navbar-nav > .open > a,
.navbar-material .navbar-nav > .open > a:hover,
.navbar-material .navbar-nav > .open > a:focus {
	color: #fff;
}
.menu-toggle .icon-bar{
	background-color: #fff;
}

.header {
	position: relative;
	background-color: #66A6FF;
	background-image: url('../image/header-background.png');
	background-repeat: repeat-x;
	background-position: bottom;
	padding-top: 50px;
	padding-bottom:100px;
	color: #fff;
}
.header  h1 {
	/*font-family: Helvetica;*/
	letter-spacing: 0.1em;
	font-size: 80px;
	font-weight: thin;
	text-shadow: 0 3px 10px rgba(0, 0, 0, .23);
}
.btn-main-container {
	margin-bottom: 50px;
}
.btn-main-container .btn-main{
	font-size: 18px;
	padding: 10px 55px;
}
.well-index-intro {
	margin-bottom: 50px;
	color: #fff;
}
.well-index-intro p:last-child{
	margin-bottom: 0;
}
.well-index-intro p.lead {
	margin-bottom: 8px;
}
.well.well-index-intro-1 {
	background-color: #D62425;
}
.well.well-index-intro-2 {
	background-color: #3B4EA0;
}
.well.well-index-intro-3 {
	background-color: #2D9439;
}
.intro-icon{
	display: inline-block;
	height: 60px;
	width: 60px;
	background-image: url(../image/icons.png);
	background-repeat: no-repeat;
}
.well.well-index-intro-1 .intro-icon {
	background-size: 58px auto;
}
.well.well-index-intro-2 .intro-icon {
	background-position: 0 -65px;
	background-size: 58px auto;
}
.well.well-index-intro-3 .intro-icon {
	background-position: 0 -185px;
	background-size: 58px auto;
}

.footer-container{
	padding-bottom: 325px;
}

@media screen and (max-width: 992px) {
	.navbar-material .navbar-nav > .open > .dropdown-menu a,
	.navbar-material .navbar-nav > .open > .dropdown-menu a:hover,
	.navbar-material .navbar-nav > .open > .dropdown-menu a:focus {
		color: #fff;
	}
	.header h1{
		font-size: 50px;
	}
	.well-index-intro{
		text-align: center;
	}
}
@media screen and (max-width: 768px) {
	.btn-main-container {
		margin-bottom: 10px;
	}
	.btn-main-container .btn-main{
		font-size: 14px;
		padding: 10px 55px;
	}
	.well-index-intro {
		margin-bottom: 5px;
	}
/*	.footer-container{
		padding-bottom: 600px;
	}*/
}