
@{
    ViewBag.Title = "设置中心";
    Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}

@section JavaScript{
	<script>
		; (function () {
			// admin.config
			$('#switch-getting').bootstrapSwitch();
			$('#switch-sending').bootstrapSwitch();
			$.getJSON('/Business/IsOrderOnService', function (json, textStatus) {
				$('#switch-getting').bootstrapSwitch('state', json.Getting).bootstrapSwitch('onSwitchChange', function (e, s) {
					$.get('/Admin/ChangeOrderGettingService/' + s, function (data) {
						/*optional stuff to do after success */
					});
				});
				$('#switch-sending').bootstrapSwitch('state', json.Sending).bootstrapSwitch('onSwitchChange', function (e, s) {
					$.get('/Admin/ChangeOrderSendingService/' + s, function (data) {
						/*optional stuff to do after success */
					});
				});
			});
		})();
	</script>
}

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">服务设置</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="switch-getting" class="col-sm-2 control-label">取件服务</label>
							<div class="col-sm-10">
								<input type="checkbox"id="switch-getting">
							</div>
						</div>
						<div class="form-group no-margin-bottom">
							<label for="switch-sending" class="col-sm-2 control-label">寄件服务</label>
							<div class="col-sm-10">
								<input type="checkbox" id="switch-sending">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">快递公司设置</h3>
				</div>
				<table class="table">
					<tr>
						<th>快递公司</th>
						<th>功能</th>
					</tr>
					@foreach(ExpressCompany c in new ExpressCompaniesManager().GetExpressCompanies()) {
						<tr>
							<td>@c.Discription</td>
							<td><a href="/Admin/DeleteExpressCompany/@c.Id" class="btn btn-danger">删除</a></td>
							<td><a href="/Admin/UpdateExpressCompany?Id=@c.Id&Discription=aaa" class="btn btn-danger">修改</a></td>
						</tr>
					}
				</table>
			</div>
		</div>
	</div>
</div>