@{
	ViewBag.Title = "管理员";
	Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
	UserStatistics us = ViewBag.UsersStatistics;
	OrderStatistics os = ViewBag.OrdersStatistics;
}

@section JavaScript{
	<script src="~/Scripts/tools/highcharts.js"></script>
	<script src="~/Scripts/admin.js"></script>
}

<div class="modal fade" id="modal-user">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<h4 class="modal-title">用户信息</h4>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-admin-remark">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<h4 class="modal-title">客服备注</h4>
			</div>
			<div class="modal-body">
				<form action="/Admin/FailOrder/" id="form-admin-remark">
					<div class="form-group">
						<input class="form-control" type="text" name="AdminRemark" placeholder="备注，置空则删除备注">
					</div>
					<button class="btn btn-danger" type="submit">确定</button>
					<button class="btn btn-default" type="button" data-dismiss="modal">取消</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">订单总览</h3>
				</div>
				<div class="panel-body">
					<div id="orders-all-statistics" style="height:200px;"></div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">取件单</h3>
				</div>
				<div class="panel-body">
					<div id="orders-getting-statistics" style="height:200px;"></div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">寄件单</h3>
				</div>
				<div class="panel-body">
					<div id="orders-sending-statistics" style="height:200px;"></div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="panel panel-default" id="panel-table">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-10">
							<form class="form-inline">
								<div class="form-group">
									<label>订单类型： </label>
									<div class="dropdown form-control dropdown-select">
										<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
											<span class="label-text">取件单</span> <i class="fa fa-chevron-circle-down"></i>
										</button>
										<input type="hidden" name="OrderType" value="Getting">
										<ul class="dropdown-menu">
											<li><a href="javascript:;" data-value="Getting">取件单</a></li>
											<li><a href="javascript:;" data-value="Sending">寄件单</a></li>
										</ul>
									</div>
								</div>
								<div class="form-group">
									<label>订单状态： </label>
									<div class="dropdown form-control dropdown-select">
										<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
											<span class="label-text">未完成</span> <i class="fa fa-chevron-circle-down"></i>
										</button>
										<input type="hidden" name="OrderStatus" value="Active">
										<ul class="dropdown-menu">
											<li><a href="javascript:;" data-value="Full">所有</a></li>
											<li><a href="javascript:;" data-value="Active">未完成</a></li>
											<li><a href="javascript:;" data-value="Confirming">等待确认</a></li>
											<li><a href="javascript:;" data-value="OnGoing">正在上门</a></li>
											<li><a href="javascript:;" data-value="Completed">完成</a></li>
											<li><a href="javascript:;" data-value="Closed">关闭</a></li>
											<li><a href="javascript:;" data-value="Failed">失败</a></li>
										</ul>
									</div>
								</div>
							</form>		
						</div>
						<div class="col-md-2 text-right">
							<button class="btn btn-primary btn-material btn-refresh">刷新</button>
						</div>
					</div>
				</div>
				<!-- Ajax Region -->
			</div>
		</div>
	</div>
</div>