@{
	ApplicationUser user = ViewBag.User;
	bool isUserInGuest = ViewBag.IsUserInGuest;
	ViewBag.Title = "我的订单";
	Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}
@section CSS{
	<link href="~/Content/css/business.order.css" rel="stylesheet" />
}
@section Javascript{
	<script src="~/Scripts/business.order.js"></script>
}

<div class="modal fade" id="modal-change-password">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<h4 class="modal-title">修改密码</h4>
			</div>
			<div class="modal-body">
				<form action="/Account/ChangePassword" method="POST" id="form-change-password">
					<div class="form-group">
						<label class="control-label" for="oripassword">原密码</label>
						<input type="password" class="form-control" id="oripassword" name="OriPassword" placeholder="">
					</div>
					<div class="form-group">
						<label class="control-label" for="newpassword">新密码</label>
						<input type="password" class="form-control" id="newpassword" name="NewPassword" placeholder="">
					</div>
					<div class="form-group">
						<label class="control-label" for="newpasswordrepeat">重复新密码</label>
						<input type="password" class="form-control" id="newpasswordrepeat" name="NewPasswordRepeat" placeholder="">
					</div>
					<div class="btn-group">
						<button type="submit" class="btn btn-primary btn-material">保存</button>
						<button type="button" class="btn btn-default btn-material" data-dismiss="modal">取消</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" id="well-order-container">
		<div class="col-sm-12">
			<div class="well well-blank">
				<div class="row">
					@if(user != null && !isUserInGuest) {
						<div class="col-md-6">
							<p class="lead"><i class="fa fa-user"></i> @user.NickName <small>(@user.Email)</small></p>
						</div>
						<div class="col-md-6 text-right">
							<a href="/Account/SignOut" class="btn btn-danger btn-material">注销</a>
						</div>
						<div class="col-md-12">
							<a href="#" data-toggle="modal" data-target="#modal-change-password">修改密码</a>
						</div>
					}
					else {
						<div class="col-md-12">
							<p class="lead"><i class="fa fa-user-secret"></i> 匿名用户</p>
						</div>
						<div class="col-md-12">
							<p class="text-danger"><i class="fa fa-warning"></i> 匿名用户请不要清除您的浏览器Cookie，以免造成订单信息的丢失。</p>
							<p class="text-danger">我们建议您立即 <a href="/Account/Index">登录</a> 或 <a href="/Account/Index">注册</a> 。</p>
						</div>
					}
					<div class="col-md-12">
						<hr />
						<div class="dropdown dropdown-select">
							<button class="btn btn-default btn-material" data-toggle="dropdown"><span class="label-text">正在进行中的订单</span> <i class="fa fa-chevron-circle-down"></i></button>
							<input type="hidden" name="Time" value="0000">
							<ul class="dropdown-menu">
								<li><a href="javascript:;" data-value="All">所有订单</a></li>
								<li><a href="javascript:;" data-value="Nearly">近一个月订单</a></li>
								<li><a href="javascript:;" data-value="Active">正在进行中的订单</a></li>
								<li><a href="javascript:;" data-value="Completed">已完成的订单</a></li>
								<li><a href="javascript:;" data-value="Failed">失败的订单</a></li>
								<li><a href="javascript:;" data-value="Closed">已关闭的订单</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Ajax Region -->
	</div>
</div>

@section Template{
	<script type="text/template" id="tpl-loader-static">
		<div class="col-sm-12 col-order">
			<div class="load-container-static">
				<div class="loader"></div>
			</div>
		</div>
	</script>
}